/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--mobile-columns: 1;
	--grid-columns: 2;
	--grid-rows: 2;
	--grid-gap: 16px;
}

.wp-block-elpuas-gridify {
	display: grid;
	grid-template-columns: repeat( var(--grid-columns), 1fr );
	grid-template-rows: repeat( var(--grid-rows), 1fr );
	gap: var(--grid-gap);

	@media screen and (max-width: 768px) {
		&.is-stack-on-mobile {
			grid-template-columns: repeat(1, 1fr);
		}

		&.mobile-columns {
			grid-template-columns: repeat( var(--mobile-columns), 1fr);
		}
	}
}

