/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-elpuas-gridify {

	@media screen and (max-width: 768px) {

		&.is-stack-on-mobile {
			grid-template-columns: repeat(1, 1fr) !important;
		}

		&.mobile-columns-1 {
			grid-template-columns: repeat(1, 1fr) !important;
		}

		&.mobile-columns-2 {
			grid-template-columns: repeat(2, 1fr) !important;
		}

		&.mobile-columns-3 {
			grid-template-columns: repeat(3, 1fr) !important;
		}

		&.mobile-columns-4 {
			grid-template-columns: repeat(4, 1fr) !important;
		}
	}
}

